html {
	font-family: "微软雅黑", "黑体";
}
.gray {
	filter: url('data:image/svg+xml;utf8,<svg><filter id="\'grayscale\'"><feColorMatrix type="\'matrix\'" values="\'0.3333" 0.3333="" 0="" 1="" 0\'=""></feColorMatrix></filter></svg>#grayscale');
 filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
	-webkit-filter: grayscale(100%);
}
.danmuContextMenu {
	background-color: rgba(255,255,255,0.8);
	border: 0.2px solid rgba(211, 188, 188, 0.91);
	position: absolute;
	z-index: 200;
	width: 100px;
	display: none;
	text-align: right;
}
.danmuContextMenu div, .danmuContextMenu span {
	position: relative;
	line-height: 20px;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 20px;
	word-break: break-all;
	text-overflow: ellipsis;
	font-size: 15px;
}
.danmuContextMenu div:hover {
	background-color: #66ccff;
}
.playermainbody {
	position: absolute;
height: 100%;
width: 100%;
left: 0px;
top: 0px;
overflow: hidden;
}
.fullpage {
	position: fixed !important;
	height: 100% !important;
	width: 100% !important;
	left: 0% !important;
	top: 0% !important;
	z-index: 10000;
	border: none !important;
}
.fullpage_sendbox {
	max-width: 460px;
	transition: opacity 0.3s;
	opacity: 0;
}
.fullpage_sendbox:hover {
	opacity: 0.8;
}
.fullpage_videoframe {
	height: calc(100% - 25px) !important;
	height: -webkit-calc(100% - 25px) !important;
}
.hidesidebar {
}
.sidebarhide_videoframe {
	width: 100% !important;
}
.sidebarhide_sidebar {
	display: none;
}
.playermainbody:fullscreen {
 position: fixed;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
border: none;
}
.playermainbody:-webkit-full-screen {
 position: fixed;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
border: none;
}
.playermainbody:-moz-full-screen {
 position: fixed;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
border: none;
}
.videoframe_fullscreen {
	height: 100% !important;
}
.sendbox_fullscreen {
	max-width: 460px !important;
	transition: opacity 0.1s !important;
	opacity: 0;
}
.sendbox_fullscreen:hover {
	opacity: 0.8;
}
.sidebar_fullscreen {
	height: 100% !important;
}
.controler_fullscreen {
	opacity: 0;
	transition: opacity 0.1s !important;
}
.controler_fullscreen:hover {
	opacity: 1;
}

.playermainbody #videoiframe{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	left: 0px;
	border: 0px;
}
.playermainbody #videoframe {
	background-color: #000;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100% ;
	height: calc(100% - 50px);
	overflow: hidden;
}
.playermainbody #videoframe #video {
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: pointer;
}
.playermainbody #videoframe #danmuframe {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor: pointer;
}
.playermainbody #videoframe #divdanmulayer {
	left: 0px;
	top: 0px;
}
.playermainbody #videoframe #danmuframe #danmulayer {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.playermainbody #controler {
	background-color: #fff;
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 25px;
	border-top: 1px solid #D3D3D3;
	width: 100%;
	z-index: 300;
}
.playermainbody #controler #play_pause {
	cursor: pointer;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 100%;
	width: 25px;
	border-right: 1px solid #ccc;
}
.playermainbody #controler #play_pause #play {
	width: 100%;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	background-color: #fff;
}
.playermainbody #controler #play_pause #play div {
	width: 0px;
	height: 0px;
	left: 5px;
	border-bottom: 9px solid transparent;
	border-top: 9px solid transparent;
	border-left: 16px solid #000;
	position: absolute;
	top: 4px;
	border-radius: 3px;
}
.playermainbody #controler #play_pause #pause {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 100%;
	top: 0px;
}
.playermainbody #controler #play_pause #play:hover, .playermainbody #controler #play_pause #pause:hover {
	background-color: #CFE4A3;
}
.playermainbody #controler #play_pause #pause span[type="1"] {
	background-color: #000;
	left: 6px;
	top: 5px;
	height: 16px;
	width: 5px;
	border-radius: 3px;
	position: absolute;
}
.playermainbody #controler #play_pause #pause span[type="2"] {
	background-color: #000;
	left: 14px;
	top: 5px;
	height: 16px;
	width: 5px;
	border-radius: 3px;
	position: absolute;
}
.playermainbody #controler #progress {
	cursor: pointer;
	position: absolute;
	height: 100%;
	left: 26px;
	background-color: #fff;
	width: calc(100% - 235px);
	width: -webkit-calc(100% - 235px);
	overflow: hidden;
	border-right: 1px solid #ccc;
}
.playermainbody #controler #progress #progressbar {
position: absolute;
width: 100%;
height: 9px;
left: 0px;
top: 0px;
}
.playermainbody #controler #progress #progersscover {
position: absolute;
width: 100%;
height: 100%;
left: 0px;
top: 0px;
}
.playermainbody #controler #time {
	position: absolute;
	right: 125px;
	line-height: 25px;
	font-size: 11px;
	text-align: center;
	width: 85px;
	height: 100%;
}
.playermainbody #controler .button{
	position: absolute;
	background-color: #fff;
	text-align: center;
	bottom: 0px;
	overflow: hidden;
	cursor: pointer;
	height: 100%;
	width: 25px;
	user-select: none;
}
.playermainbody #controler #danmuctrl {
	right: 100px;
	font-size: 23px;
	line-height: 25px;
}
.playermainbody #controler #volume {
	right: 75px;
}
.playermainbody #controler #danmuctrl:hover, .playermainbody #controler #volume:hover {
	overflow: visible;
}
.playermainbody #controler #volume #stat {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 25px;
	width: 25px;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
}
.playermainbody #controler #volume #range {
	position: absolute;
	left: 0px;
	bottom: 100%;
	height: 200px;
	width: 25px;
	overflow: hidden;
	cursor: pointer;
	background-color: #66CCFF;
}
.playermainbody #controler #volume #range div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 0%;
	background-color: #fff;
}
.playermainbody #controler #volume span {
	position: absolute;
	left: 0px;
	bottom: 225px;
	width: 100%;
	background-color: #fff;
	display: block;
	text-align: center;
	font-size: 12px;
	line-height: 25px;
	cursor: default;
}
.playermainbody #controler #loop {
	right: 50px;
	font-size: 21px;
	line-height: 25px;
}
.playermainbody #controler #loop:hover {
	color: #33B888 !important;
}
.playermainbody #controler #unknownbutton{
	right: 25px;
	font-size: 16px;
	line-height: 25px;
}
.playermainbody #controler #fullscreen {
	right: 0px;
	font-size: 16px;
	line-height: 25px;
	z-index: 100;
}
.playermainbody #controler #fullscreen:hover, .playermainbody #controler #fullpage:hover {
	overflow: visible;
	color: #33B888;
}
.playermainbody #controler #fullpage {
	position: absolute;
	right: 0px;
	bottom: 100%;
	height: 100%;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ccc;
	font-size: 16px;
	color: 000;
	line-height: 25px;
	cursor: pointer;
	text-align: center;
}
.playermainbody #sendbox {
	background-color: #fff;
	position: absolute;
	bottom: 25px;
	left: 0px;
	width: 100%;
	height: 25px;
}
.playermainbody #sendbox #fontstylebutton {
	position: absolute;
	background-color: #FFF9F9;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 25px;
	font-size: 20px;
	border-right: 1px solid #ccc;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	transition: background-color 0.2s, color 0.2s;
}
.playermainbody #sendbox #fontstylebutton:hover {
	overflow: initial !important;
	background-color: #66ccff;
	color: #fff;
}
.playermainbody #sendbox #fontstylebutton #fontpannel {
	position: absolute;
	cursor: default;
	bottom: 100%;
	height: 140px;
	width: 240px;
	font-size: 15px;
	color: #000;
	background-color: #fff;
	left: 0px;
	border: 1px solid #ccc;
	border-left: 0px solid #ccc;
	text-align: left;
}
.selected {
	box-shadow: 0px 0px 23px #00C5CE;
}
.playermainbody #sendbox #fontstylebutton #fontpannel div {
	position: absolute;
}
.playermainbody #sendbox #fontstylebutton #fontpannel #danmuType {
	top: 3px;
	left: 5px;
	height: 133px;
	width: 103px;
}
#fontpannel #danmuType div {
	border: 1px solid #ccc;
	height: 40px;
	width: 40px;
	text-align: center;
	border-radius: 4px;
	line-height: 40px;
	color: #9C8989;
	cursor: pointer;
	transition: background-color 0.2s;
	font-size: 29px;
}
#danmuType #fromtop {
	top: 25px;
	left: 1px;
}
#danmuType #frombottom {
	top: 25px;
	left: 54px;
}
#danmuType #fromright {
	top: 79px;
	left: 1px;
}
#danmuType #fromleft {
	top: 79px;
	left: 55px;
}
.playermainbody #sendbox #fontstylebutton #fontpannel #fontSize {
	top: 3px;
	left: 110px;
	height: 133px;
	width: 43px;
}
#fontSize div {
	border: 1px solid #ccc;
	height: 30px;
	width: 30px;
	color: #7E6B6B;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.2s;
	text-align: center;
	line-height: 30px;
}
#fontSize div:hover, #fontpannel #danmuType div:hover {
	background-color: #C9D2D8;
}
#fontSize #Sizesmall {
	top: 22px;
	left: 5px;
	font-size: 12px;
}
#fontSize #Sizemiddle {
	top: 60px;
	left: 5px;
}
#fontSize #Sizebig {
	top: 98px;
	left: 5px;
	font-size: 25px;
}
.playermainbody #sendbox #fontstylebutton #fontpannel #fontColor {
	top: 3px;
	left: 157px;
	height: 133px;
	width: 79px;
}
.playermainbody #fontColor #colorinput {
	text-align: center;
	width: 72px;
	border: 1px solid #ccc;
	border-radius: 2px;
}
.playermainbody #fontColor #colorview {
	width: 72px;
	border: 1px solid #ccc;
	height: 72px;
	border-radius: 2px;
	cursor: pointer;
}
.playermainbody #sendbox #danmuinput {
	position: absolute;
	background-color: #FFFFFF;
	top: 0px;
	left: 25px;
	width: calc(100% - 95px);
	font-family: 黑体;
	border: none;
	height: 21px;
	padding: 2px 5px;
	font-size: 15px;
	line-height: 25px;
}
.playermainbody #sendbox #sendbutton {
	position: absolute;
	background-color: #2C9EB4;
	height: 100%;
	width: 60px;
	line-height: 25px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	right: 0px;
	cursor: pointer;
	transition: background-color 0.2s;
}
.playermainbody #sendbox #sendbutton:hover {
	background-color: #39CBE7;
}
#sendbox #sendboxcover {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(226, 226, 226, 0.64);
}
#danmumark{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 16px;
	left: 0px;
}
#tipbox{
	position: absolute;
bottom: 30px;
right: 0px;
user-select: none;
}
#tipbox .tip{
position: relative;
display: none;
background-color: rgba(255, 255, 255, 0.44);
height: auto;
text-align: center;
width: auto;
margin:3px 0;
color: #1F1F1F;
border: 1px solid #77C5F5;
padding: 8px;
font-size: 17px;
border-radius: 3px;
animation:tip_in_ani 4s linear 0s forwards;
  -webkit-animation:tip_in_ani 4s linear 0s forwards;
  -moz-animation:tip_in_ani 4s linear 0s forwards;
}
@keyframes tip_in_ani{
	0%{opacity: 0;right:-10px;}
	10%{opacity: 1;right:8px;}
	90%{opacity: 1;right:8px;}
	100%{opacity: 0;display: none;right:0px;}
}
@-webkit-keyframes tip_in_ani{
	0%{opacity: 0;right:-10px;}
	10%{opacity: 1;right:8px;}
	90%{opacity: 1;right:8px;}
	100%{opacity: 0;display: none;right:0px;}
}
@-webkit-keyframes tip_in_ani{
	0%{opacity: 0;right:-10px;}
	10%{opacity: 1;right:8px;}
	90%{opacity: 1;right:8px;}
	100%{opacity: 0;display: none;right:0px;}
}
.forceopacity{
	opacity: 1 !important;
}

#videoframe {
	background-color: #000;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
 #videoframe #video {
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: pointer;
}
 #videoframe #danmuframe {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor: pointer;
}
/* #videoframe #divdanmulayer {
	left: 0px;
	top: 0px;
}*/
 #videoframe #danmuframe #danmulayer {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}