html {
	font-family: "微软雅黑", "黑体";
}
.playermainbody {
	position: absolute;
height: 100%;
width: 100%;
left: 0px;
top: 0px;
overflow: hidden;
}
.fullpage_sendbox {
	max-width: 460px;
	transition: opacity 0.3s;
	opacity: 0;
}
.playermainbody:fullscreen {
 position: fixed;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
border: none;
}
.playermainbody:-webkit-full-screen {
 position: fixed;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
border: none;
}
.playermainbody:-moz-full-screen {
 position: fixed;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
border: none;
}
.videoframe_fullscreen {
	height: 100% !important;
}
.sendbox_fullscreen {
	max-width: 460px !important;
	transition: opacity 0.1s !important;
	opacity: 0;
}
.controler_fullscreen {
	opacity: 0;
	transition: opacity 0.1s !important;
}
.controler_fullscreen:hover {
	opacity: 1;
}

.playermainbody #videoiframe{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	left: 0px;
	border: 0px;
}
.playermainbody #videoframe {
	background-color: #000;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: calc(100% - 25px);
	overflow: hidden;
}
.playermainbody #videoframe #video {
	position: absolute;
	left: 0px;
	top: 0px;
	/*width: 100%;
	height: 100%;*/
	cursor: pointer;
}
.playermainbody #videoframe #danmuframe {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor: pointer;
}
.playermainbody #videoframe #divdanmulayer {
	left: 0px;
	top: 0px;
}
.playermainbody #videoframe #danmuframe #danmulayer {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.playermainbody #controler {
	background-color: #fff;
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 25px;
	border-top: 1px solid #D3D3D3;
	width: 100%;
}
.playermainbody #controler #play_pause {
	cursor: pointer;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 100%;
	width: 25px;
	border-right: 1px solid #ccc;
}
.playermainbody #controler #play_pause #play {
	width: 100%;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	background-color: #fff;
}
.playermainbody #controler #play_pause #play div {
	width: 0px;
	height: 0px;
	left: 5px;
	border-bottom: 9px solid transparent;
	border-top: 9px solid transparent;
	border-left: 16px solid #000;
	position: absolute;
	top: 4px;
	border-radius: 3px;
}
.playermainbody #controler #play_pause #pause {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 100%;
	top: 0px;
}
.playermainbody #controler #play_pause #play:hover, .playermainbody #controler #play_pause #pause:hover {
	background-color: #CFE4A3;
}
.playermainbody #controler #play_pause #pause span[type="1"] {
	background-color: #000;
	left: 6px;
	top: 5px;
	height: 16px;
	width: 5px;
	border-radius: 3px;
	position: absolute;
}
.playermainbody #controler #play_pause #pause span[type="2"] {
	background-color: #000;
	left: 14px;
	top: 5px;
	height: 16px;
	width: 5px;
	border-radius: 3px;
	position: absolute;
}
.playermainbody #controler #progress {
	cursor: pointer;
	min-width: calc(100% - 210px);
	min-width: -webkit-calc(100% - 210px);
	position: absolute;
	height: 100%;
	left: 26px;
	background-color: #fff;
	width: calc(100% - 210px);
	width: -webkit-calc(100% - 210px);
	overflow: hidden;
	border-right: 1px solid #ccc;
}
.playermainbody #controler #progress #progerssdisplay {
position: absolute;
height: 8px;
left: 0px;
border-radius: 5px;
bottom: 19px;
background-color: #66ccff;
transition: width 0.3s;
}
.playermainbody #controler #progress #videocached {
position: absolute;
height: 4px;
left: 0px;
border-radius: 5px;
bottom: 16px;
background-color: #777777;
transition: width 0.3s;
}
.playermainbody #controler #progress #progersscover {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}
.playermainbody #controler #time {
	position: absolute;
	right: 100px;
	line-height: 25px;
	font-size: 11px;
	text-align: center;
	width: 85px;
	height: 100%;
}
.playermainbody #controler #danmuctrl {
	position: absolute;
	right: 75px;
	bottom: 0px;
	height: 100%;
	width: 25px;
	font-size: 23px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	background-color: #fff;
}
.playermainbody #controler #volume {
	position: absolute;
	right: 50px;
	bottom: 0px;
	height: 100%;
	width: 25px;
	overflow: hidden;
	background-color: #fff;
}
.playermainbody #controler #danmuctrl:hover, .playermainbody #controler #volume:hover {
	overflow: visible;
}
.playermainbody #controler #volume #voluemstat {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 25px;
	width: 25px;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
}
.playermainbody #controler #volume #range {
	position: absolute;
	left: 0px;
	bottom: 100%;
	height: 200px;
	width: 25px;
	overflow: hidden;
	cursor: pointer;
	background-color: #66CCFF;
}
.playermainbody #controler #volume #range div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 0%;
	background-color: #fff;/*transition:height 0.05s;*/
}
.playermainbody #controler #volume span {
	position: absolute;
	left: 0px;
	bottom: 225px;
	width: 100%;
	background-color: #fff;
	display: block;
	text-align: center;
	font-size: 12px;
	line-height: 25px;
	cursor: default;
}
.playermainbody #controler #loop {
	position: absolute;
	background-color: #fff;
	right: 25px;
	bottom: 0px;
	height: 100%;
	width: 25px;
	font-size: 21px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
}
.playermainbody #controler #loop:hover {
	color: #33B888 !important;
}
.playermainbody #controler #fullscreen {
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 100%;
	width: 25px;
	font-size: 16px;
	background-color: #fff;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
}
.playermainbody #sendbox {
	background-color: #fff;
	position: absolute;
	bottom: 25px;
	left: 0px;
	width: 100%;
	height: 25px;
	opacity: 0;
	transition:opacity 0.4s;
}
.playermainbody #sendbox:hover{
	opacity: 0.9;
}
.playermainbody #sendbox #fontstylebutton {
	position: absolute;
	background-color: #FFF9F9;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 25px;
	font-size: 20px;
	border-right: 1px solid #ccc;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	transition: background-color 0.2s, color 0.2s;
}
.playermainbody #sendbox #fontstylebutton:hover {
	overflow: initial !important;
	background-color: #66ccff;
	color: #fff;
}
.playermainbody #sendbox #fontstylebutton #fontpannel {
	position: absolute;
	cursor: default;
	bottom: 100%;
	height: 140px;
	width: 240px;
	font-size: 15px;
	color: #000;
	background-color: #fff;
	left: 0px;
	border: 1px solid #ccc;
	border-left: 0px solid #ccc;
	text-align: left;
}
.selected {
	box-shadow: 0px 0px 23px #00C5CE;
}
.playermainbody #sendbox #fontstylebutton #fontpannel div {
	position: absolute;
}
.playermainbody #sendbox #fontstylebutton #fontpannel #danmuType {
	top: 3px;
	left: 5px;
	height: 133px;
	width: 103px;
}
#fontpannel #danmuType div {
	border: 1px solid #ccc;
	height: 40px;
	width: 40px;
	text-align: center;
	border-radius: 4px;
	line-height: 40px;
	color: #9C8989;
	cursor: pointer;
	transition: background-color 0.2s;
	font-size: 29px;
}
#danmuType #fromtop {
	top: 25px;
	left: 1px;
}
#danmuType #frombottom {
	top: 25px;
	left: 54px;
}
#danmuType #fromright {
	top: 79px;
	left: 1px;
}
#danmuType #fromleft {
	top: 79px;
	left: 55px;
}
.playermainbody #sendbox #fontstylebutton #fontpannel #fontSize {
	top: 3px;
	left: 110px;
	height: 133px;
	width: 43px;
}
#fontSize div {
	border: 1px solid #ccc;
	height: 30px;
	width: 30px;
	color: #7E6B6B;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.2s;
	text-align: center;
	line-height: 30px;
}
#fontSize div:hover, #fontpannel #danmuType div:hover {
	background-color: #C9D2D8;
}
#fontSize #Sizesmall {
	top: 22px;
	left: 5px;
	font-size: 12px;
}
#fontSize #Sizemiddle {
	top: 60px;
	left: 5px;
}
#fontSize #Sizebig {
	top: 98px;
	left: 5px;
	font-size: 25px;
}
.playermainbody #sendbox #fontstylebutton #fontpannel #fontColor {
	top: 3px;
	left: 157px;
	height: 133px;
	width: 79px;
}
.playermainbody #fontColor #colorinput {
	text-align: center;
	width: 72px;
	border: 1px solid #ccc;
	border-radius: 2px;
}
.playermainbody #fontColor #colorview {
	width: 72px;
	border: 1px solid #ccc;
	height: 72px;
	border-radius: 2px;
	cursor: pointer;
}
.playermainbody #sendbox #danmuinput {
	position: absolute;
	background-color: #FFFFFF;
	top: 0px;
	left: 25px;
	width: calc(100% - 95px);
	font-family: 黑体;
	border: none;
	height: 21px;
	padding: 2px 5px;
	font-size: 15px;
	line-height: 25px;
}
.playermainbody #sendbox #sendbutton {
	position: absolute;
	background-color: #2C9EB4;
	height: 100%;
	width: 60px;
	line-height: 25px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	right: 0px;
	cursor: pointer;
	transition: background-color 0.2s;
}
.playermainbody #sendbox #sendbutton:hover {
	background-color: #39CBE7;
}
#sendbox #sendboxcover {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(226, 226, 226, 0.64);
}
.playermainbody .videopreload {
position: absolute;
width: 100%;
height: 100%;
font-family: 'Times New Roman';
text-align: left;
background-color: #FFF;
left: 0px;
top: 0px;
white-space: pre;
	letter-spacing: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.videopreloadanimation {
  position: absolute;
  font-family: 'Times New Roman';
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 80px;
  left: 18px;
  width: 306px;
  height: 94px;
}

.videopreloadanimationframe{
position: absolute;
font-family: 'Times New Roman';
font-size: 80px;
color: #000;
text-align: center;
line-height: 220px;
left: calc(50% - 170px);
top: calc(50% - 162px);
width: 340px;
height: 220px;
}

.shakeanimation {
  -webkit-animation: gwd-gen-o0bsgwdanimation_gwd-keyframes 1.3s linear 0s infinite forwards;
  -moz-animation: gwd-gen-o0bsgwdanimation_gwd-keyframes 1.3s linear 0s infinite forwards;
  animation: gwd-gen-o0bsgwdanimation_gwd-keyframes 1.3s linear 0s infinite forwards;
}

@-webkit-keyframes gwd-gen-o0bsgwdanimation_gwd-keyframes {
  0% { top: 58px; left: 17px;  -webkit-transform: matrix3d(0.9922411674, 0.1243280566, 0, 0, -0.1243280566, 0.9922411674, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-animation-timing-function: linear; }
  7.69231% { top: 37px; left: 2px;  -webkit-transform: matrix3d(0.9975433551, -0.0700518, 0, 0, 0.0700518, 0.9975433551, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-animation-timing-function: linear; }
  15.3846% { top: 78px; left: 27px;  -webkit-transform: matrix3d(0.996151754, -0.0876452109, 0, 0, 0.0876452109, 0.996151754, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-animation-timing-function: linear; }
  23.0769% { top: 54px; left: 18px;  -webkit-transform: matrix3d(0.9989344322, -0.0461519241, 0, 0, 0.0461519241, 0.9989344322, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-animation-timing-function: linear; }
  30.7692% { top: 85px; left: 18px;  -webkit-transform: matrix3d(0.9534801102, -0.0929042167, -0.2867829946, 0, 0.09697771, 0.9952865536, 0, 0, 0.2854312583, -0.0278115581, 0.957995571, 0, 0, 0, 0, 1); -webkit-animation-timing-function: linear; }
  38.4615% { top: 61px; left: 25px;  -webkit-transform: matrix3d(0.999120723, 0.0419258968, 0, 0, -0.0419258968, 0.999120723, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-animation-timing-function: linear; }
  46.1538% { top: 69px; left: 16px;  -webkit-transform: matrix3d(0.9922411674, 0.1243280566, 0, 0, -0.1243280566, 0.9922411674, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-animation-timing-function: linear; }
  53.8462% { top: 54px; left: 21px;  -webkit-transform: matrix3d(0.9879359428, -0.1548630779, 0, 0, 0.1548630779, 0.9879359428, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-animation-timing-function: linear; }
  61.5385% { top: 77px; left: 11px;  -webkit-transform: matrix3d(0.997279872, -0.0737079164, 0, 0, 0.0737079164, 0.997279872, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-animation-timing-function: linear; }
  69.2308% { top: 52px; left: 17px;  -webkit-transform: matrix3d(0.9897877681, 0.1425488477, 0, 0, -0.1425488477, 0.9897877681, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-animation-timing-function: linear; }
  76.9231% { top: 61px; left: 3px;  -webkit-transform: matrix3d(0.9850062042, -0.1725189194, 0, 0, 0.1725189194, 0.9850062042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-animation-timing-function: linear; }
  84.6154% { top: 70px; left: 31px;  -webkit-transform: matrix3d(0.9999924496, -0.0038859566, 0, 0, 0.0038859566, 0.9999924496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-animation-timing-function: linear; }
  92.3077% { top: 52px; left: 26px;  -webkit-transform: matrix3d(0.9723628325, 0.004036916, 0.2334399826, 0, 0.03544095, 0.9857116913, -0.1646705824, 0, -0.2307692813, 0.1683928887, 0.95832634, 0, 0, 0, 0, 1); -webkit-animation-timing-function: linear; }
  100% { top: 72px; left: 19px;  -webkit-transform: matrix3d(0.9922411674, 0.1243280566, 0, 0, -0.1243280566, 0.9922411674, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-animation-timing-function: linear; }
}
@-moz-keyframes gwd-gen-o0bsgwdanimation_gwd-keyframes {
  0% { top: 58px; left: 17px;  -moz-transform: matrix3d(0.9922411674, 0.1243280566, 0, 0, -0.1243280566, 0.9922411674, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-animation-timing-function: linear; }
  7.69231% { top: 37px; left: 2px;  -moz-transform: matrix3d(0.9975433551, -0.0700518, 0, 0, 0.0700518, 0.9975433551, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-animation-timing-function: linear; }
  15.3846% { top: 78px; left: 27px;  -moz-transform: matrix3d(0.996151754, -0.0876452109, 0, 0, 0.0876452109, 0.996151754, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-animation-timing-function: linear; }
  23.0769% { top: 54px; left: 18px;  -moz-transform: matrix3d(0.9989344322, -0.0461519241, 0, 0, 0.0461519241, 0.9989344322, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-animation-timing-function: linear; }
  30.7692% { top: 85px; left: 18px;  -moz-transform: matrix3d(0.9534801102, -0.0929042167, -0.2867829946, 0, 0.09697771, 0.9952865536, 0, 0, 0.2854312583, -0.0278115581, 0.957995571, 0, 0, 0, 0, 1); -moz-animation-timing-function: linear; }
  38.4615% { top: 61px; left: 25px;  -moz-transform: matrix3d(0.999120723, 0.0419258968, 0, 0, -0.0419258968, 0.999120723, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-animation-timing-function: linear; }
  46.1538% { top: 69px; left: 16px;  -moz-transform: matrix3d(0.9922411674, 0.1243280566, 0, 0, -0.1243280566, 0.9922411674, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-animation-timing-function: linear; }
  53.8462% { top: 54px; left: 21px;  -moz-transform: matrix3d(0.9879359428, -0.1548630779, 0, 0, 0.1548630779, 0.9879359428, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-animation-timing-function: linear; }
  61.5385% { top: 77px; left: 11px;  -moz-transform: matrix3d(0.997279872, -0.0737079164, 0, 0, 0.0737079164, 0.997279872, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-animation-timing-function: linear; }
  69.2308% { top: 52px; left: 17px;  -moz-transform: matrix3d(0.9897877681, 0.1425488477, 0, 0, -0.1425488477, 0.9897877681, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-animation-timing-function: linear; }
  76.9231% { top: 61px; left: 3px;  -moz-transform: matrix3d(0.9850062042, -0.1725189194, 0, 0, 0.1725189194, 0.9850062042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-animation-timing-function: linear; }
  84.6154% { top: 70px; left: 31px;  -moz-transform: matrix3d(0.9999924496, -0.0038859566, 0, 0, 0.0038859566, 0.9999924496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-animation-timing-function: linear; }
  92.3077% { top: 52px; left: 26px;  -moz-transform: matrix3d(0.9723628325, 0.004036916, 0.2334399826, 0, 0.03544095, 0.9857116913, -0.1646705824, 0, -0.2307692813, 0.1683928887, 0.95832634, 0, 0, 0, 0, 1); -moz-animation-timing-function: linear; }
  100% { top: 72px; left: 19px;  -moz-transform: matrix3d(0.9922411674, 0.1243280566, 0, 0, -0.1243280566, 0.9922411674, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-animation-timing-function: linear; }
}
@keyframes gwd-gen-o0bsgwdanimation_gwd-keyframes {
  0% { top: 58px; left: 17px;  transform: matrix3d(0.9922411674, 0.1243280566, 0, 0, -0.1243280566, 0.9922411674, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear; }
  7.69231% { top: 37px; left: 2px;  transform: matrix3d(0.9975433551, -0.0700518, 0, 0, 0.0700518, 0.9975433551, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear; }
  15.3846% { top: 78px; left: 27px;  transform: matrix3d(0.996151754, -0.0876452109, 0, 0, 0.0876452109, 0.996151754, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear; }
  23.0769% { top: 54px; left: 18px;  transform: matrix3d(0.9989344322, -0.0461519241, 0, 0, 0.0461519241, 0.9989344322, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear; }
  30.7692% { top: 85px; left: 18px;  transform: matrix3d(0.9534801102, -0.0929042167, -0.2867829946, 0, 0.09697771, 0.9952865536, 0, 0, 0.2854312583, -0.0278115581, 0.957995571, 0, 0, 0, 0, 1); animation-timing-function: linear; }
  38.4615% { top: 61px; left: 25px;  transform: matrix3d(0.999120723, 0.0419258968, 0, 0, -0.0419258968, 0.999120723, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear; }
  46.1538% { top: 69px; left: 16px;  transform: matrix3d(0.9922411674, 0.1243280566, 0, 0, -0.1243280566, 0.9922411674, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear; }
  53.8462% { top: 54px; left: 21px;  transform: matrix3d(0.9879359428, -0.1548630779, 0, 0, 0.1548630779, 0.9879359428, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear; }
  61.5385% { top: 77px; left: 11px;  transform: matrix3d(0.997279872, -0.0737079164, 0, 0, 0.0737079164, 0.997279872, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear; }
  69.2308% { top: 52px; left: 17px;  transform: matrix3d(0.9897877681, 0.1425488477, 0, 0, -0.1425488477, 0.9897877681, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear; }
  76.9231% { top: 61px; left: 3px;  transform: matrix3d(0.9850062042, -0.1725189194, 0, 0, 0.1725189194, 0.9850062042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear; }
  84.6154% { top: 70px; left: 31px;  transform: matrix3d(0.9999924496, -0.0038859566, 0, 0, 0.0038859566, 0.9999924496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear; }
  92.3077% { top: 52px; left: 26px;  transform: matrix3d(0.9723628325, 0.004036916, 0.2334399826, 0, 0.03544095, 0.9857116913, -0.1646705824, 0, -0.2307692813, 0.1683928887, 0.95832634, 0, 0, 0, 0, 1); animation-timing-function: linear; }
  100% { top: 72px; left: 19px;  transform: matrix3d(0.9922411674, 0.1243280566, 0, 0, -0.1243280566, 0.9922411674, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear; }
}
.gwd-gen-o0bsgwdanimation-gen-animation0keyframe {
  top: 58px;
  left: 17px;
  width: 306px;
  height: 94px;
  -webkit-transform: matrix3d(0.9922411674, 0.1243280566, 0, 0, -0.1243280566, 0.9922411674, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(0.9922411674, 0.1243280566, 0, 0, -0.1243280566, 0.9922411674, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(0.9922411674, 0.1243280566, 0, 0, -0.1243280566, 0.9922411674, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

#stat{
	position: absolute;
width: 50px;
bottom: 0px;
left: 0px;
font-size: 13px;
color: #9B9B9B;
line-height: 18px;
margin-left: 5px;
}
#ctrlcovre{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	cursor: pointer;
	transition:opacity 0.3s;
}
#pauseicon{
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 10px;
	background-color:rgba(19, 19, 19, 0.8);
	left:calc(50% - 40px);
	top:calc(50% - 40px);
}
#danmumark{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 16px;
	left: 0px;
}