body{
	display: flex;
	flex-direction:column;
	align-items:stretch;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
}

body>div{
	background-color: rgba(199, 199, 199, 0.15);
}
#cover{
	opacity: 0.4;
	transition: opacity 0.2s;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}
html:hover #cover{
	opacity: 0.6;
}

#title{
    background-color: rgba(177, 177, 177, 0.52);
	margin: 0;
	padding: 0.6em;
	color: #424242;
	text-shadow: 0 0 12px #fff;
}

#info{
	flex-grow:1;
}
#count{
	color: #525252;
    text-shadow: 0 0 2px #fbfbfb;
    padding: 0.7em;
    font-size: 1.2em;
}
#desc{
	margin: 1em 1.3em;
	display: block;
	color: #544747;
	font-size: 1.3em;
}

#play{
	float: right;
    font-size: 35px;
    text-decoration: none;
    color: #eae4e4;
    padding: 0.2em 0.5em;
    background-color: rgba(0, 0, 0, 0.45);
}